@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', cursive;
    background-color: #ededed;
    font-size: x-large;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 35px;
    background-image: url(20220529_194425.jpg);
    color: #ededed;
}

.navbar div {
    display: flex;
    justify-content: space-between;
    gap: 11px;
}

.navbar div.word p:hover {
    color: bisque;
    cursor: pointer;
}

.reBar {
    text-align: center;

    padding: 0 35px;
    background-image: url(20220529_194425.jpg);
    color: #ededed;

}